!!!
html
  head
    include _shared/_head
  body
    .main

      h1 Дни рождения

      .m-birthdays

        .m-birthday-item
          .m-birthday-date 29 Октября 2014
          .m-birthday-summary
            .m-birthday-header Вчера
            .m-birthday-persons
              a(href="javascript:void(0);")
                .m-birthday-person
                  .m-birthday-person-avatar
                    img(src="http://lorempixel.com/50/50", width="50", height="50", alt="User")
                  .m-birthday-person-name Арчибальд Сидорчук

        .m-birthday-item.m-birthday-item__type-current
          .m-birthday-date 30 Октября 2014
          .m-birthday-summary
            .m-birthday-header Сегодня
            .m-birthday-persons
              a(href="javascript:void(0);")
                .m-birthday-person
                  .m-birthday-person-avatar
                    img(src="http://lorempixel.com/50/50", width="50", height="50", alt="User")
                  .m-birthday-person-name Константин Константинопольский
              a(href="javascript:void(0);")
                .m-birthday-person
                  .m-birthday-person-avatar
                    img(src="http://lorempixel.com/50/50", width="50", height="50", alt="User")
                  .m-birthday-person-name Арчибальд Сидорчук
              a(href="javascript:void(0);")
                .m-birthday-person
                  .m-birthday-person-avatar
                    img(src="http://lorempixel.com/50/50", width="50", height="50", alt="User")
                  .m-birthday-person-name Арчибальд Сидорчук

        .m-birthday-item
          .m-birthday-date 1 Ноября 2014
          .m-birthday-summary
            .m-birthday-header Завтра
            .m-birthday-persons
              a(href="javascript:void(0);")
                .m-birthday-person
                  .m-birthday-person-avatar
                    img(src="http://lorempixel.com/50/50", width="50", height="50", alt="User")
                  .m-birthday-person-name Арчибальд Сидорчук

        .m-birthday-item
          .m-birthday-date 2 Ноября 2014
          .m-birthday-summary
            .m-birthday-header Послезавтра
            .m-birthday-persons
              a(href="javascript:void(0);")
                .m-birthday-person
                  .m-birthday-person-avatar
                    img(src="http://lorempixel.com/50/50", width="50", height="50", alt="User")
                  .m-birthday-person-name Арчибальд Сидорчук

        .m-birthday-item
          .m-birthday-date 3 Ноября 2014
          .m-birthday-summary
            .m-birthday-header
            .m-birthday-persons
              a(href="javascript:void(0);")
                .m-birthday-person
                  .m-birthday-person-avatar
                    img(src="http://lorempixel.com/50/50", width="50", height="50", alt="User")
                  .m-birthday-person-name Арчибальд Сидорчук
              a(href="javascript:void(0);")
                .m-birthday-person
                  .m-birthday-person-avatar
                    img(src="http://lorempixel.com/50/50", width="50", height="50", alt="User")
                  .m-birthday-person-name Арчибальд Сидорчук

    include _shared/_footer
