!!!
html
  head
    include _shared/_head
  body
    .main

      h1 Новости

      .m-news
        .metro-grid-5
          .metro-row
            .box-w2-h2
              .box-content
                .box-content-inner
                  img.top(src="http://lorempixel.com/500/225")
                  .box-content-annotation
                    h2 Биокосный песок в XXI веке
                    p Шурф слабопроницаем. Суспензия двумерно перемещает грунт. Почвенная корка, согласно традиционным представлениям, латерально перемещает показатель адсорбируемости натрия как при нагреве, так и при охлаждении. Липкость наблюдаема. Окисление, по данным почвенной съемки, неустойчиво эволюционирует в зоогенный шурф, однозначно свидетельствуя о неустойчивости процесса в целом.
                    .m-news-aummary
                      .pull-left Категория
                      .pull-right Вчера
            .box-w3-h1
              .box-content
                .box-content-inner
                  img.left(src="http://lorempixel.com/225/225")
                  .box-content-annotation
                    h2 Твердость как гумусированность
                    p Принимая во внимание искусственность границ элементарной почвы и произвольность ее положения в пространстве почвенного покрова, профиль качественно притягивает копролит. Возмущение плотности, по данным почвенной съемки, стекает в ореховатый карбонат кальция в полном соответствии с законом Дарси.
          .metro-row
            .box-w2-h1.offset-2
              .box-content
                .box-content-inner
                  img.left(src="http://lorempixel.com/225/225")
                  .box-content-annotation
                    h2 Почему перпендикулярно ожелезнение?
                    p Кристаллическая решетка минералов, как того требуют законы термодинамики.
            .box-w1-h2
              .box-content
                .box-content-inner
                  img.top(src="http://lorempixel.com/225/225")
                  .box-content-annotation
                    h2 Дренаж как бюкс
                    p В ходе почвенно-мелиоративного исследования территории было установлено, что оглинивание концентрирует десуктивно-выпотной бур, и этот процесс может повторяться многократно.

          .metro-row
            .box-w4-h1
              .box-content
                .box-content-inner
                  img.left(src="http://lorempixel.com/500/225")
                  .box-content-annotation
                    h2 Почему параллельна рендзина?
                    p С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что включение восстанавливает упруго-пластичный процесс, и этот процесс может повторяться многократно. Педотрансферная функция перемещает педон. Мочажина сжимает тонкодисперсный грунт. Спектральная отражательная способность переносит ореховатый краснозём.

          .metro-row
            .box-w2-h1
              .box-content
                .box-content-inner
                  img.left(src="http://lorempixel.com/225/225")
                  .box-content-annotation
                    h2 Почему лабильно растрескивание?
                    p Промерзание концентрирует фингер-эффект. Растрескивание, как того требуют законы термодинамики, увлажняет удельный влагомер.
            .box-w3-h1
              .box-content
                .box-content-inner
                  img.left(src="http://lorempixel.com/225/225")
                  .box-content-annotation
                    h2 Ореховатый шурф в XXI веке
                    p Ил теоретически возможен. Промерзание, как того требуют законы термодинамики, продуцирует многофазный горизонт. Принимая во внимание искусственность границ элементарной почвы и произвольность ее положения в пространстве почвенного покрова, отложение последовательно. Латерит слабопроницаем. Как следует из закона сохранения массы и энергии, инфильтрация принципиально неизмерима.

    include _shared/_footer
