!!!
html
  head
    include _shared/_head
  body
    .main

      h1 Новости

      .metro-grid-5
        .metro-row
          .box-w2-h2
            .box-content
              .box-content-inner
                h2
          .box-w3-h1
            .box-content

        .metro-row
          .box-w2-h1.offset-2
            .box-content
          .box-w1-h2
            .box-content

        .metro-row
          .box-w4-h1
            .box-content

        .metro-row
          .box-w2-h1
            .box-content
          .box-w3-h1
            .box-content

    include _shared/_footer
