.m-button
  display: inline-block
  background-color: #8da5a9
  font-size: 18px
  text-decoration: none
  color: #fff
  padding: 6px 10px 8px
  min-width: 165px
  text-align: center

// Form popups
.m-nyromodal-form
  display: none

.m-popup-form
  width: 638px
  max-width: 638px

.m-form-group
  margin-bottom: 25px

  textarea
  select
    border: 1px solid #bebebe
    border-radius: 0

  textarea
    width: 100%
    min-width: 100%
    max-width: 100%
    resizable: none
    padding: 11px 14px
    box-sizing: border-box
    height: 180px
    min-height: 180px
    max-height: 180px
