// Metro UI grid

$gutter: 10px

$max-box-width: 5
$max-box-height: 5

@mixin metro-ui-grid($size)
  .metro-row
    margin-bottom: $gutter
    height: 136px
    margin-left: auto
    margin-right: auto
    &:before,
    &:after
      content: ""
      display: table
    &:after
      clear: both

  div[class^="box-w"]
    box-sizing: border-box
    float: left
    height: 100%
    padding-left: $gutter / 2
    padding-right: $gutter / 2

  @for $i from 1 through $max-box-width
    div[class*="-w#{$i}"]
      width: percentage( $i / $size )

  @for $i from 1 through $max-box-height
    div[class*="-h#{$i}"]
      .box-content
        height: percentage( $i )
        padding-bottom: ( $i - 1 ) * $gutter

  @for $i from 1 through $size - 1
    .offset-#{$i}
      margin-left: percentage( $i / $size )

  .box-content
    width: 100%
    height: 100%
    background-color: #e7e7e7

.metro-grid-5
  @include metro-ui-grid(5)


// News
.m-news
  max-width: 938px
  h2
    margin-top: 0
  a
    text-decoration: none
    color: #000

.box-content-inner
  padding: 10px
  box-sizing: border-box
  height: 100%
  overflow: auto
  position: relative

  h2
    margin: 0 0 6px
    font-size: 18px
  p
    font-size: 12px
    margin: 0
  .m-news-summary
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    box-sizing: border-box
    padding: 0 10px
  img.left
    height: 100%
    margin-right: 10px
    float: left
    & + .box-content-annotation
      height: 100%
      overflow: auto
      position: relative
      .m-news-summary
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        box-sizing: border-box
        padding: 0
  img.top
    width: 100%
    margin-bottom: 4px

.m-news-summary
  font-size: 12px
  color: #868686
  overflow: hidden

// News detail
#news_detail
  display: none
.news-detail-page
  padding: 40px 35px
.news-detail-page-header
  border-bottom: 2px solid #e7e7e7
  margin-bottom: 12px
  font-size: 12px
  color: #0082d9
  padding: 0 0 4px
.news-detail-aside
  width: 390px
  float: right
  margin-left: 56px
.news-detail-content
  font-size: 12px
  margin-right: 446px

// Adaptivity
@media screen and (max-width: 960px)
  .metro-grid-5
    div[class*="-w"]
      width: 100%
      margin-bottom: $gutter
    div[class*="-h"]
      height: auto
      .box-content
        padding-bottom: 0
    div[class*="offset-"]
      margin-left: 0

    .box-content-inner
      img
        width: 100%
        float: none
        height: auto

    .m-news-summary
      position: relative !important
      padding: 10px 0 0 0 !important

