.m-photos
  max-width: 943px
  .m-nyromodal-form-link
    text-decoration: none
    color: #000

// Albums
.m-album-list
.m-album-list-item
  background-color: #e7e7e7
  padding: 12px
  margin: 0 0 12px
.m-album-content
  float: left
  width: 50%
  box-sizing: border-box
  padding: 0 6px 0 0
.m-album-header
  margin: 0 0 10px
.m-album-description
  margin-bottom: 0
.m-album-gallery
  float: left
  width: 50%
  box-sizing: border-box
.m-album-gallery-item
  float: left
  width: 33.33%
  box-sizing: border-box
  padding-left: 12px
  img
    display: block
    width: 100%

.m-album-archive-link
  text-decoration: none
  color: #000
  margin: 24px 0 24px
  display: block
  border-bottom: 2px solid #e7e7e7
  padding: 0 0 4px 15px

// Adaptivity
@media screen and (max-width: 960px)
  .m-album-content,
  .m-album-gallery
    float: none
    width: 100%
  .m-album-header,
  .m-album-description
    padding: 0 6px
  .m-album-description
    margin-bottom: 10px
  .m-album-list-item
    padding: 12px 6px
  .m-album-gallery-item
    padding: 0 6px


// Album popup
#m_photo_popup
  display: none

.album-detail-page-header
  border-bottom: 2px solid #e7e7e7
  margin-bottom: 12px
  font-size: 12px
  color: #0082d9
  padding: 0 0 4px
.album-detail-page
  padding: 40px 35px
  h2
    font-size: 24px
    border-bottom: 1px solid #e7e7e7
    margin: 0 0 40px
  p
    font-size: 14px

.album-gallery
  margin: 0 0 64px
.album-gallery-item
  float: left
  width: 176px
  margin: 0 1px 1px 0
  position: relative
  &:hover
    .album-gallery-link
      border: 3px solid #0080d9
    .album-vote-link,
    .album-votes
      display: block

.album-gallery-preview
  display: block
.album-gallery-link
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  box-sizing: border-box

.album-vote-link
  position: absolute
  right: 0
  bottom: 0
  text-decoration: none
  color: #fff
  display: block
  font-size: 14px
  padding: 6px 10px
  background: rgba(1,124,217,0.5)
  display: none
  &:hover
    background: rgba(1,124,217,1)

.album-votes
  position: absolute
  right: 0
  top: 0
  text-decoration: none
  color: #fff
  display: block
  font-size: 14px
  padding: 6px 10px
  background: rgba(1,124,217,0.5)
  display: none


// Upload form
.upload-image-source
  width: 243px
  height: 181px
  float: left
  overflow: hidden
  position: relative

.upload-image-delete
  position: absolute
  right: 5px
  top: 5px
  font-size: 42px
  font-family: 'Times New Roman'
  font-weight: 100
  color: #fff
  text-decoration: none
  background: rgba(0,0,0,0.5)
  line-height: 20px
  padding: 7px 5px

.upload-image-info
  margin-left: 260px

