@font-face
  font-family: "wf_SegoeUILight"
  src: url('../fonts/segoUIlight.woff') format('woff')
  font-weight: normal
  font-style: normal

body
  font-family: "wf_SegoeUILight"

.main
  padding: 50px

@import "_forms"
@import "_birthdays"
@import "_faq"
